---
import { ImageGallery } from "../../components/Product";
import { ProductBadge } from "../";
import { Image } from "astro:assets";

const { data } = Astro.props;
---

<div class="md:relative md:min-h-screen">
  <div
    class="md:scroll-behavior-smooth md:scrollbar-none no-scrollbar relative md:absolute md:left-0 md:right-0 md:h-full md:overflow-y-scroll"
  >
    <div class="mb-0">
      <Image
        src={data.cover[0].url}
        alt={data.title}
        width={data.cover[0].width}
        height={data.cover[0].height}
      />
      <ProductBadge categories={data.categories} />
    </div>
    <div class="hidden md:block">
      <ImageGallery images={data.gallery} alt={data.title} />
    </div>
  </div>
</div>
