---
import { ImageGallery } from "../../components/Product";

const {data} = Astro.props

---


    <div class="sm:hidden">
      <!-- <MobileGallery data={data} /> -->
    </div>
    <div class="hidden md:block md:relative md:min-h-screen">
      <div class="md:absolute md:left-0 md:right-0 md:h-full md:scroll-behavior-smooth md:scrollbar-none md:overflow-y-scroll no-scrollbar">
        <div class="md:mb-0">
          <img
            src={data.cover[0].url}
            alt={data.title}
          />
          <!-- <ProductBadge categories={data.categories} /> -->
        </div>
        <ImageGallery images={data.gallery} />
      </div>
    </div>