---
import { marked } from "marked";
import { Image } from "astro:assets";
import { slugify, calcPercentageSold } from "../../utils/common";
import { AddToCartForm, Breadcrumb } from "../Product";
import ImageGallery from "../Product/ImageGallery.astro";
import { Money, Accordions } from "../index";

const { shopifyProduct, airtableData } = Astro.props;
const variants = shopifyProduct?.variants.nodes;

const printImage = airtableData["print image"]?.[0];
const isFunding = airtableData.categories.includes("Funding");

const firstVariant = shopifyProduct?.variants.nodes[0];

const percentageFunded = calcPercentageSold(
  airtableData["edition size"],
  firstVariant.quantityAvailable
);
---

<section class="my-4 flex flex-col gap-4 md:gap-3">
  <div class="container hidden sm:block">
    <Breadcrumb data={airtableData} />
  </div>
  <div class="container">
    <h3 class="break-words font-SohneKraftig text-2xl leading-7">
      {airtableData.title}
    </h3>
    <h2 class="font-SohneBuch text-xl">
      {
        airtableData.artist.map((artist) => (
          <a href={`/artists/${artist}`}>{artist}</a>
        ))
      }
    </h2>
  </div>
  <div class="container text-sm">
    <Money
      price={firstVariant.price}
      compareAtPrice={firstVariant.compareAtPrice}
    />
    {isFunding && <span>{`/ ${percentageFunded}% Funded`}</span>}
  </div>
  <AddToCartForm client:load variants={variants} />
  <Accordions description={airtableData.description} bio={airtableData.bio} />
  {
    isFunding && (
      <div class="container">
        <div
          class=" mb-2 rounded border border-dotted border-gray-500 p-4 text-gray-500"
          set:html={marked.parse(airtableData.funding)}
        />
      </div>
    )
  }
  <div class="container hidden md:block">
    <div
      class="font-SohneBuch"
      set:html={marked.parse(airtableData.description)}
    />
    <div class="font-SohneBuch" set:html={marked.parse(airtableData.bio)} />
  </div>
  <div>
    <ul class="container mb-2 font-SohneBuch">
      <li class="text-sm text-gray-500">
        {airtableData.pages} pages
      </li>
      <li class="text-sm text-gray-500">
        {`${airtableData.size}, ${airtableData.format}`}
      </li>
      <li class="text-sm text-gray-500">ISBN {airtableData.ISBN}</li>
      <li class="text-sm text-gray-500">
        Limited Edition of {airtableData["edition size"]}
      </li>
      <li class="text-sm text-gray-500">{airtableData.SKU}</li>
    </ul>
  </div>

  <div class="container mb-2 flex flex-wrap gap-1 font-SohneBuch">
    {
      airtableData.tags.map((tag) => (
        <a
          href={`/tags/${slugify(tag)}`}
          class="rounded border border-primary-100 px-2 py-1 text-primary-100 hover:opacity-70"
        >
          # {tag}
        </a>
      ))
    }
  </div>
  {
    !!printImage && (
      <div class="container" id="print">
        <h3 class="pb-2 font-SohneKraftig text-lg">Signed Print Details</h3>
        <p>{airtableData["print description"]}</p>
        <Image
          src={printImage.url}
          alt="Print Image"
          width={printImage.width}
          height={printImage.height}
        />
      </div>
    )
  }
  <div class="sm:hidden" id="gallery">
    <ImageGallery images={airtableData.gallery} alt={airtableData.title} />
  </div>
</section>
