---
import { marked } from "marked";
import { slugify, calcPercentageSold } from "../../utils/common";
import { AddToCartForm, Breadcrumb } from "../Product";
import ImageGallery from "../Product/ImageGallery.astro";
import { Accordions } from "../index";
import { Tags, PrintImages, Specs } from "../Product";

const { shopifyProduct, airtableData } = Astro.props;
const variants = shopifyProduct?.variants.nodes;

const isFunding = airtableData.categories.includes("Funding");

const firstVariant = shopifyProduct?.variants.nodes[0];

const percentageFunded = calcPercentageSold(
  airtableData["edition size"],
  firstVariant?.quantityAvailable
);
---

<section class="mt-6 flex flex-col gap-4 md:my-6">
  <div class="container hidden sm:block">
    <Breadcrumb data={airtableData} />
  </div>
  <div class="container">
    <h3 class="break-words font-SohneKraftig text-2xl leading-7">
      {airtableData.title}
    </h3>
    <ul class="font-SohneBuch text-2xl">
      {
        airtableData.artist.map((artist) => (
          <a href={`/artists/${slugify(artist)}`}>
            <li>{artist}</li>
          </a>
        ))
      }
    </ul>
  </div>
  {
    variants && variants.length > 0 && (
      <AddToCartForm
        client:load
        variants={variants}
        isFunding={isFunding}
        percentageFunded={percentageFunded}
      />
    )
  }
  <Accordions description={airtableData.description} bio={airtableData.bio} />
  {
    isFunding && (
      <div class="container">
        <div
          class=" mb-2 rounded border border-dotted border-gray-500 p-4 text-gray-500"
          set:html={marked.parse(airtableData.funding)}
        />
      </div>
    )
  }
  <div class="container hidden md:block">
    <div
      class="font-SohneBuch"
      set:html={marked.parse(airtableData.description)}
    />
    <div class="font-SohneBuch" set:html={marked.parse(airtableData.bio)} />
  </div>
  <Specs {airtableData} />
  <Tags {airtableData} />
  <PrintImages {airtableData} />
  <div class="sm:hidden" id="gallery">
    <ImageGallery images={airtableData.gallery} alt={airtableData.title} />
  </div>
</section>
