---
import { getSlides } from "../utils/airtable.ts";
import { Image } from "astro:assets";
const data = await getSlides();
const {
  title,
  image: [slideImg = null],
  subtitle,
  link,
} = data[0];
---

<div class="relative w-full">
  <div class="relative h-56 overflow-hidden md:h-96">
    <a href={link ?? "/"}>
      <div
        class="absolute left-1/2 top-1/2 z-50 -translate-x-1/2 -translate-y-1/2 transform font-SohneBuch text-white"
      >
        <div class="text-center text-5xl md:text-7xl">{title}</div>
        <div class="text-x text-center tracking-wider md:text-2xl">
          {subtitle}
        </div>
      </div>
      <Image
        src={slideImg.url}
        class="absolute left-1/2 top-1/2 block w-full -translate-x-1/2 -translate-y-1/2"
        alt={title}
        width={slideImg.width}
        height={slideImg.height}
      />
    </a>
  </div>
</div>
